*{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
.body{
	width:100%;
	height:150vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0,0,0.7)),url("pictures/background.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	
		
}
.navbar{ 
height:15%;
display:flex;
align-items:center;
}
.logo{
	width:50px;
	cursor:pointer;
	
}
.menu-icon {
	width:30px;
	cursor:pointer;
	margin-left:40px;
}
nav{
	flex:1;
	text-align:right;

}
nav ul li{
	display: inline-block;
	margin-left:60px;
}
nav ul a{
	text-decoration:none;
	color:white;
	font-size:13px;
}
.logotext{
font-family:'Pattaya', sans-serif;
color:white;
font-size:40px;
}
 div{
	 color:white;
 }
.row{
	display:flex;
	height:88%;
	align-items: center;
}
.col{ 
flex-basis:50%;
margin-top:50px;
margin-right:10px;
margin-bottom:50px;
}
.button{
 width:180px;
 color:grey;
 font-size:12px;
 padding:8px 0;
 margin:30px;
 border-radius: 20px;
 background-color:pink;
}
.board{
	width:250px;
	height:230px;
	display:inline-block;
	border-radius:10px;
	padding:10px 25px;
	cursor:pointer;
	margin:25px 15px;
	background-image:url("pictures/girl3.jpg");
	background-position:center;
	background-size:cover;
	
}
.pic1{
	background-image:url("pictures/girl4.jpg");
}
.pic2{
	background-image:url("pictures/girl1.jpg");
}
.pic3{
	background-image:url("pictures/talent.jpg");
}
.pic4{
	background-image:url("pictures/givelove.jpg");
}
.foot{
	background-image:url("pictures/beautiful.jpg");
	
}
.login{
	text-align:right;
	margin-top:10px;
	}
.submit{
	background-color:pink;
	padding:8px;
	border-radius:6px;
}
.foot{
	color:white; 
	text-align:center;
	text-decoration:none;
	background-color:black;
}
.beautiful{
	width:100%;
    height:40%;
}
.container{
	text-align: center;
	margin-top:150px;
}
.form{
	text-align:center;
	width:100%;
	flex:1;
	margin-right:100%;
}
.contact{
	background-color:black;
	text-align:center;
	text-decoration:none;
	color:white;
}
.info{
	text-align:justify;
	
}
.radio{
	text-align:center;
	
}
.gallery{
	float:left;
	text-align:center;
	margin:5px;
	border: 1px solid #ccc;
}
.ongi{
	text-align:center;
	margin-left:400px;
}
.word{
	text-align:center;
	margin-top:300px;
	background-color:black;
}
.news{
	text-align:justify;
}
.white{
	text-align:center;
}
div.pics {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
 
}

div.pics:hover {
  border: 1px solid #777;
}

div.pics img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.galley{
	text-align:center;
}
.letters{
	text-align:center;
}
.footer{
	background-color:black;
	text-align:center;
}
.pictures{
	background-color:black;
	color:black;
	float:left;
	margin-bottom:100px;
}
.victim{
	background-color:black;
	margin-top:-60px;
	margin-bottom:20px;
	text-decoration:none;
	text-align:center;
	underline:none;
	padding:20px;
}

.talent{
	width:5%;
	height:5%;
	object-position: right top;
}
.galleries{
	font-family: 'Tourney', cursive;
	color:white;
	background-color:black;
	font-family: 'Tourney', cursive;
	text-align:center;
	font-family:'Pattaya', sans-serif;
}
.beautiful{
	height:220px;
	width:200px:
}
#heading{
	text-decoration:none;
}
.freedom{
	font-family:'Pattaya', sans-serif;
}
h2.title {
	font-family: "Quicksand", sans-serif;
	font-size: 24px;
	font-weight: 200;
	font-weight: 300;
	color: #000000;
	text-align: center;
	padding: 100px 0 0 0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.social ul li {
	float: left;
}
.social .line {
	position: absolute;
	top: 0; left: 0px;
	width: 100%; height: 3px;
	background: #fced00;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	z-index: 0;
}
.social ul {
	position: relative;
	left: 50%; margin-left: -216px;
	list-style: none;
	color: #000;
}
.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram, .fa-pinterest, .fa-github, .fa-flickr, .fa-linkedin {
	padding: 10px 0 0 0;
}
.social ul li a:hover {
	color: #fff;
}
.social ul li.facebook a:hover {
	background: #3b5998;
}
.social ul li.twitter a:hover {
	background: #44ccf6;
}
.social ul li.codepen a:hover {
	background: #cccccc;
}
.social ul li.youtube a:hover { 
	background: #da2d2e; 
}
.social ul li.instagram a:hover { 
	background: #66269e; 
}
.social ul li.pinterest a:hover {
	background: #c3042b;
}
.social ul li.github a:hover {
	background: #000000;
}
.social ul li.flickr a:hover {
	background: #72858c;
}
.social ul li.linkedin a:hover {
	background: #1c66c2; 
}

.social{
	background-color:black;
}
.social ul li a {
	position: relative;
	float: left;
	background: #fff000;
	width: 48px; height: 48px;
	text-align: center;
	color: #000;
	padding: 0 0 30px 0;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
